src/trollocoind
src/test_trollocoin

# Ignore build dir
build/

# Compilation and Qt preprocessor part
*.qm
Makefile
trollocoin-qt

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
